

@if(gg < 10){
    <h1>Turns: {{turn}}</h1>
    <div class="board">
    @for(c of deck; track $index){
        <div class="card">
        @if(c.facing){
            @if(c.pair){
                <img src={{c.front}} class="pair">
            } @else{
                <img src={{c.front}}>
            }
        } @else{
            <img (click)="flip(c.index)" src={{c.back}} >
        }
        </div>
    }
    </div>
} @else{
    <div class="congrats">
        <h1>Congratulaciones usaste {{turn}} turnos</h1>
        <button (click)="endGame()">Salir</button>
    </div>
}
